<!DOCTYPE html>
<html>
    <head>
	{% load staticfiles %}

        <title>See through me</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="en-us">
        <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
        
    </head>
    <body>
        
        <h1>What video do you want to watch?</h1>
        
        <form method="post" action="{% url 'youWatch' %}">
        What video do you want to watch?<br>
        <input type="text" name="videoLink" placeholder = 'URL'><br>
        <input type="submit" value="Watch">
	{% csrf_token %}
        </form>
        
    </body>
<script src="{% static 'jquery-3.1.1.js' %}"></script>
<script src="{% static 'tmp.js' %}"></script>
</html>
