<!DOCTYPE html>
<html>
    <head>
        <title>See through me</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="en-us">
        <link rel="stylesheet" type="text/css" href="Style.css">
        
    </head>
    <body>
        
        <h1>What video do you want to watch?</h1>
        
        <form>
        What video do you want to watch?<br>
        <input type="text" name="videoLink"> placeholder = 'URL'<br>
        <input type="submit" value="Watch">
        </form>
        
    </body>
</html>