<!DOCTYPE html>
<html>
    <head>
        <title>You watch</title>

	{% load staticfiles  %}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="en-us">
        <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
        
    </head>
    <body>
        
        <iframe width="1280" height="720" src={{video_link}} ></iframe>

	<div id="container">
    		<video autoplay="true" id="videoElement">
     
    		</video>
	</div>        
    </body>
	
	<script src="{% static 'jquery-3.1.1.js' %}"></script>
	<script src="{% static 'youWatch.js' %}"></script>

</html>
